    <!-- back to top -->
    <a href="#0" class="cd-top">Top</a>
    <!-- /back to top -->
    <!-- js files -->
        <script src="/js/jquery.min.js"></script>

        <!-- Slick File -->
            <script type="text/javascript" src="/slick/slick.min.js"></script>
        <!-- Slick File -->

        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/smoothscroll.js"></script>
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/grayscale.js"></script>
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/updateProductModal.js"></script>
        <script src="/js/categoryExposed.js"></script>
        <script src="/js/adminUpdateServiceModal.js"></script>

        <!-- js for back to top -->
            <script src="/js/top.js"></script>
        <!-- /js for back to top -->
        <!-- js for work section -->
            <script src="/js/jquery.viewbox.min.js"></script>
            <script>
                $(function(){

                    $('.thumbnail').viewbox();
                    $('.thumbnail-2').viewbox();

                    (function(){
                        var vb = $('.popup-link').viewbox();
                        $('.popup-open-button').click(function(){
                            vb.trigger('viewbox.open');
                        });
                        $('.close-button').click(function(){
                            vb.trigger('viewbox.close');
                        });
                    })();

                    (function(){
                        var vb = $('.popup-steps').viewbox({navButtons:false});

                        $('.steps-button').click(function(){
                            vb.trigger('viewbox.open',[0]);
                        });
                        $('.next-button').click(function(){
                            vb.trigger('viewbox.open',[1]);
                        });
                        $('.prev-button').click(function(){
                            vb.trigger('viewbox.open',[0]);
                        });
                        $('.ok-button').click(function(){
                            vb.trigger('viewbox.close');
                        });
                    })();
                });
            </script>
        <!-- /js for work section -->
        <!-- js for about section -->
            <script src="/js/index.js"></script>
        <!-- /js for about section -->
        <!-- js for portfolio section -->
            <script src="/js/jQuery.lightninBox.js"></script>
            <script type="text/javascript">
                $(".lightninBox").lightninBox();
            </script>
        <!-- /js for portfolio section -->
        <!-- js for banner -->
            <script src="/js/bgfader.js"></script>
            <script>
                var myBgFader = $('.header').bgfader([
                    '/images/shop/banner/banana.jpg',
                    '/images/shop/banner/chocolate.jpg',
                    '/images/shop/banner/cookies.jpg',
                    '/images/shop/banner/lime.jpg',
                    '/images/shop/banner/strawberry.jpg',
                ], {
                    'timeout': 3000,
                    'speed': 3000,
                    'opacity': 0.4
                })
                myBgFader.start()
            </script>
        <!-- /js for banner -->
    <!-- /js files -->