<!-- footer -->
<div class="footer">
    <p class="text-center">© 2017 Shams Inc. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<!-- /footer -->