<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Car Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- /fonts -->
<!-- css files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/viewbox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/service.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/productUpload.css" rel="stylesheet" type="text/css" media="all" />

    <!--modal of modify product form in productsList-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--modal of modify product form in productsList-->

<!-- /css files -->
<!-- js files -->
<script src="/js/modernizr.js"></script>
<!-- /js files -->