<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav cl-effect-5">
                {{#if login}}
                    <li class="active"><a href="/" class="page-scroll"><span data-hover="Home">Home</span></a></li>
                    <li class="active"><a href="#" class="page-scroll"><span data-hover="Search">Search</span></a></li>
                    <li class="active"><a href="/categoriesDisplay" class="page-scroll"><span data-hover="Products">Products</span></a></li>
                    <li class="active"><a href="#" class="page-scroll"><span data-hover="Cart">Cart</span></a></li>
                    <li class="active"><a href="#" class="page-scroll"><span data-hover="Profile">Profile</span></a></li>
                    <li class="active"><a href="/join/logout" class="page-scroll"><span data-hover="Leave">Leave</span></a></li>
                {{ else }}
                    <li class="active"><a href="/" class="page-scroll"><span data-hover="Home">Home</span></a></li>
                    <li class="active"><a href="#" class="page-scroll"><span data-hover="Search">Search</span></a></li>
                    <li class="active"><a href="/service" class="page-scroll"><span data-hover="Services">Services</span></a></li>
                    <li class="active"><a href="/categoriesDisplay" class="page-scroll"><span data-hover="Products">Products</span></a></li>
                    <li class="active"><a href="/about" class="page-scroll"><span data-hover="About">About</span></a></li>
                    <li class="active"><a href="/Join" class="page-scroll"><span data-hover="Join">Join</span></a></li>
                {{/if }}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- /navigation -->