<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      {{> headerMetadata }}
  </head>
  <body>

    {{> navigation }}
    {{{body}}}
    {{> footerSection}}

    {{> footerMetadata }}
  </body>
</html>
