<!-- about section -->
<section class="about-agileits" id="about">
    <div class="container">
        <div class="col-md-5 col-md-push-7 about-agile2">
            <div class="about-agileinfo">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis semper felis, id suscipit arcu venenatis nec. Etiam non ligula ac massa bibendum molestie. Nam sit amet augue nulla. </p>
                <p>Quisque pulvinar consectetur erat non ornare. Nulla facilisi. Phasellus condimentum turpis vel elit mollis tempus. Nulla at luctus ante. Nullam et nulla interdum, blandit quam et, vehicula nibh.</p>
            </div>
        </div>
        <div class="col-md-7 col-md-pull-5 about-agile1">
            <div class="cover-slider__wrap">
                <ul class="cover-slider">
                    <li class="cover-slider__slide">
                        <span class="hide">Alt Tag</span>
                    </li>
                    <li class="cover-slider__slide">
                        <span class="hide">Alt Tag</span>
                    </li>
                    <li class="cover-slider__slide">
                        <span class="hide">Alt Tag</span>
                    </li>
                    <li class="cover-slider__slide">
                        <span class="hide">Alt Tag</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- /about section -->