<!-- address -->
<section class="address-agileits">
    <div class="container">
        <div class="col-lg-4 col-md-4 addr-agileinfo1">
            <div class="addr-w3-agile">
                <div class="col-xs-4 addr-agileits1">
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
                        <i class="hi-icon fa fa-mobile" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 addr-agileits2">
                    <div class="addr-w3l">
                        <h3>Phone Number</h3>
                        <p>+880 1XXXXXXXXX</p>
                        <p>+880 1XXXXXXXXX</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 addr-agileinfo2">
            <div class="addr-w3-agile">
                <div class="col-xs-4 addr-agileits1">
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
                        <i class="hi-icon fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 addr-agileits2">
                    <div class="addr-w3l">
                        <h3>Address</h3>
                        <p>Rajshahi,</p>
                        <p>Bangladesh</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 addr-agileinfo3">
            <div class="addr-w3-agile">
                <div class="col-xs-4 addr-agileits1">
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
                        <i class="hi-icon fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-xs-8 addr-agileits2">
                    <div class="addr-w3l">
                        <h3>Email Us</h3>
                        <p><a href="#">home_service@mail.com</a></p>
                        <p><a href="#">grocerry_shop@mail.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- /address -->