<!-- banner section -->
<section class="banner-w3ls">
    <div class='header'>
        <div class="logo-agileits">
            <a class="logo-w3ls" href="/"><h1>NAME</h1></a>
        </div>
    </div>
</section>
<!-- /banner section -->