<!-- events section -->
<section class="event-agileinfo">
    <div class="container">
        <h3 class="text-center">Our Events</h3>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="col-lg-4 col-md-4 col-sm-4 event-wthree1">
            <div class="event-w3ls1">
                <a href="#" class="event-w3l" data-toggle="modal" data-target="#largeModal"><h4>Lorem ipsum dolor</h4></a>
                <p class="event-agile1">2016-2017</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 event-wthree2">
            <p class="event-w3-agile1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero neque, varius nec eleifend in, egestas eget lectus. Integer non tempus ante, non blandit lectus. </p>
        </div>
        <div class="clearfix"></div>
        <div class="event-w3-agileits">
            <div class="col-lg-8 col-md-8 col-sm-8 event-wthree2">
                <p class="event-w3-agile2">Nulla dui ligula, sollicitudin non bibendum non, mattis eget lectus. Aliquam quis blandit odio. Aenean semper erat luctus enim suscipit dictum. Suspendisse vestibulum cursus egestas.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 event-wthree1">
                <div class="event-w3ls2">
                    <a href="#" class="event-w3l" data-toggle="modal" data-target="#largeModal"><h4>adipiscing elit</h4></a>
                    <p class="event-agile1">2017-2018</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 event-wthree1">
            <div class="event-w3ls1">
                <a href="#" class="event-w3l" data-toggle="modal" data-target="#largeModal"><h4>vestibulum cursus</h4></a>
                <p class="event-agile1">2018-2019</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 event-wthree2">
            <p class="event-w3-agile1"> Aenean semper erat luctus enim suscipit dictum. Suspendisse vestibulum cursus egestas. Proin rutrum maximus massa mollis pharetra. Nam elit neque, sodales sed varius sit amet.</p>
        </div>
        <div class="clearfix"></div>
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Car-Hub</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 col-md-6">
                            <img src="images/pop-img.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis semper felis, id suscipit arcu venenatis nec. Etiam non ligula ac massa bibendum molestie. Nam sit amet augue nulla. </p>
                            <p>Quisque pulvinar consectetur erat non ornare. Nulla facilisi. Phasellus condimentum turpis vel elit mollis tempus. Nulla at luctus ante. Nullam et nulla interdum, blandit quam et, vehicula nibh.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /events section -->