<!-- contact section -->
<section class="contact-w3l" id="contact">
    <div class="container">
        <h3 class="text-center">Send Feedback</h3>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <form action="/adminFeedback/addFeedback" method="post" name="sentMessage" id="contactForm" novalidate>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" id="clientName" name="clientName">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone Number:</label>
                        <input type="tel" class="form-control" id="clientPhone" name="clientPhone">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="clientEmail" name="clientEmail">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" id="clientMessage" name="clientMessage" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Submit Feedback</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</section>
<!-- /contact section -->