<!-- services section -->
<section class="service-wthree" id="service">
    <div class="container">
        <h3 class="text-center">Our Services</h3>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        {{# each ourServices}}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item" style="background-image: url({{this.serviceImagePath}});">
                            <div class="ch-info-wrap">
                                <div class="ch-info" style="background-image: url({{this.serviceImagePath}});">
                                    <div class="ch-info-front " style="background-image: url({{this.serviceImagePath}});"></div>
                                    <div class="ch-info-back1" style="background-image: url({{this.serviceImagePath}});">
                                        <h4>{{this.serviceName}}</h4>
                                        <p>{{this.serviceSlogan}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <h5 class="text-center">{{this.serviceShortInformation}}</h5>
                <p class="serv-p2">{{this.serviceFullInformation}}</p>
            </div>
        {{/each}}
        <div class="clearfix"></div>
    </div>
</section>
<!-- /services section -->