<!-- banner section -->
{{> Home/banner }}
<!-- /banner section -->

<!--our services-->
{{> Home/service }}
<!--our services-->

<!-- testimonial section -->
{{> Home/testimonial }}
<!-- /testimonial section -->

<!-- address -->
{{> Home/address }}
<!-- /address -->

<!-- contact section -->
{{> Home/feedback }}
<!-- /contact section -->