<!-- works section -->
<section class="work-agileinfo" id="work">
    <div class="container">

        <h3 class="text-center">{{categoryName}}</h3>

        {{# each products}}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 work-wthree">
                <div class="grid">
                    <figure class="effect-moses">
                        <img src="{{this.imagePath}}"  alt="" class="" style="width:480px;height:180px;" />
                        <figcaption>
                            <h4>{{this.productName}}</h4>
                            <p>Click It</p>
                            <a href="{{this.imagePath}}" height="40" width="480" class="thumbnail" title="Car-Hub">View more</a>
                        </figcaption>
                    </figure>
                </div>
                <a href="#" class="work-agile" data-toggle="modal" onclick="displayProductModal('{{this.id}}', '{{this.productName}}', '{{this.imagePath}}', '{{this.productFullInformation}}')"><h5 class="text-center">{{this.productFullInformation}}</h5></a>
                <p class="work-w3l">Full Info: {{this.productFullInformation}} </p>
            </div>
        {{/each}}

        <div class="clearfix"></div>

        <div class="modal fade" id="productDisplayModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="productDisplayModalName"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 col-md-6">
                            <img src="" alt="" class="img-responsive" id="productDisplayModalImage">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p id="productDisplayModalFullInfo"></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="productDisplayModalDetails" onclick=''>Details</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
<!-- /works section -->


<script>
    function displayProductModal(id, name, imagePath, fullInfo) {
        console.log('id: ' + id);
        console.log('Name: ' + name);
        console.log('ImagePath: ' + imagePath);
        console.log('FullInfo: ' + fullInfo);

        var add = '/productExposed/' + id;
        var redirectAddress = 'location.href=\"' + add + '\"';
        console.log('redirect address: ' + redirectAddress);

        document.getElementById("productDisplayModalName").innerHTML = name;
        document.getElementById("productDisplayModalFullInfo").innerHTML = fullInfo;
        document.getElementById("productDisplayModalImage").src = imagePath;
        document.getElementById("productDisplayModalDetails").setAttribute('onClick', redirectAddress);

        $('#productDisplayModal').modal('show')
    }
</script>