<div class="container">
    <div class='row'>
        <div class='col-md-12'>'
            <h3 style="font-family: 'Kumar One', cursive; font-size: 48px;"> {{ product.productName }} </h3>
            <h1 style="font-family: 'Lobster', cursive; font-size: 25px; font-style: bold;">{{ product.productShortInformation }}</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <img src="{{ product.imagePath }}" class="img-responsive center-block" style="width:650px;height:400px; border-radius: 16px;" />
        </div>
    </div>

    <br/>

    <div class="col-md-12">
		<span class="pull-right" id="spanAddToCart">
			<a href="/myCart/addToCart/{{ product._id }}" class='' style="font-family: 'Coda Caption', sans-serif; color: green; font-size: 25px;">Add to my cart</a>
		</span>
    </div>
    <div class="col-md-12">
		<span class="pull-right" id="spanNotAvailable">
			<h3 class='' style="font-family: 'Coda Caption', sans-serif; color: red; font-size: 25px;" >Not Available</h3>
		</span>
    </div>
    <div class="col-md-12">
		<span class="pull-right" id="spanAlreadyAdded">
			<h3 class='' style="font-family: 'Coda Caption', sans-serif; color: #b37700; font-size: 25px;" >Already Added</h3>
		</span>
    </div>

    <h2 style="font-family: 'Passion One', cursive; font-size: 40px;">Full Information</h2>
    <blockquote class="blockquote">
        <p class="mb-0" style="font-family: 'Francois One', sans-serif;">
            {{ product.productFullInformation }}
        </p>
    </blockquote>


    <h2 style="font-family: 'Passion One', cursive; font-size: 40px;">Reviews</h2>
    {{#each product.productReviews}}
        <div class="container">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="panel panel-white post panel-shadow" style="background-color:#ebebe0;">
                        <div class="post-description">
                            <p style="font-family: 'Sriracha', cursive; font-size: 20px;" >{{ this.review}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}

</div>
<!-- /.container -->
<!-- Start of comment display section html -->


<!-- End of comment display section html -->
<div class="container-fluid jumbotron">
    <h3 class="text-center" style="font-family: 'Archivo Black', sans-serif; font-size: 25px;">Your Review</h3>
    <form class="form-horizontal" method='post' id="productReviewForm" action="/productExposed/productReview/{{product._id }}">
        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control" rows="5" id="Review" name="productReview" style="font-family: 'Sriracha', cursive; font-size: 20px;">

                </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-10">
                <button type="button" onclick="submitReview()" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>

<script>
    function submitReview () {
        document.getElementById('productReviewForm').submit();
    }
</script>