<!-- testimonial section -->
<section class="testimonial">
    <div class="container">
        <h3 class="text-center">Our Clients Word</h3>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col-lg-8 col-md-8 col-sm-8 test-agile1">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis libero ut dolor facilisis, eget auctor lacus congue. Curabitur ex nisl, vestibulum vitae consequat eu, tristique et enim. Suspendisse potenti. Quisque at est at nisl vulputate aliquam in quis augue. Sed a pulvinar ipsum. Praesent eget scelerisque arcu. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 test-agile2">
                        <img src="images/test-img1.jpg" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item">
                    <div class="col-lg-8 col-md-8 col-sm-8 test-agile1">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> Quisque at est at nisl vulputate aliquam in quis augue. Aliquam vitae fermentum metus. Aenean placerat elit nibh, et malesuada felis dignissim tristique. Sed a pulvinar ipsum. Praesent eget scelerisque arcu.  Vestibulum eleifend lacus ut dignissim placerat. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 test-agile2">
                        <img src="images/test-img2.jpg" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item">
                    <div class="col-lg-8 col-md-8 col-sm-8 test-agile1">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> Sed a pulvinar ipsum. Pellentesque interdum, nisl nec vehicula dapibus, lacus eros sagittis metus, ut tincidunt dui tortor vitae dui. Praesent eget scelerisque arcu. Vestibulum eleifend lacus ut dignissim placerat. Quisque at est at nisl vulputate aliquam in quis augue. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 test-agile2">
                        <img src="images/test-img3.jpg" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="item">
                    <div class="col-lg-8 col-md-8 col-sm-8 test-agile1">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> Vivamus lacinia scelerisque egestas. Aliquam sapien erat, convallis faucibus posuere eget, elementum a metus. Vestibulum eleifend lacus ut dignissim placerat. Quisque at est at nisl vulputate aliquam in quis augue. Sed a pulvinar ipsum. Pellentesque interdum, nisl nec vehicula dapibus. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 test-agile2">
                        <img src="images/test-img4.jpg" class="img-circle img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- /testimonial section -->