<!-- works section -->
<section class="work-agileinfo" id="work">
    <div class="container">
        <h3 class="text-center">Our Works</h3>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 work-wthree">
            <div class="grid">
                <figure class="effect-moses">
                    <img src="images/work-img1.jpg" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Car Hub</h4>
                        <p>Click It</p>
                        <a href="images/work-img1.jpg" class="thumbnail" title="Car-Hub">View more</a>
                    </figcaption>
                </figure>
            </div>
            <a href="#" class="work-agile" data-toggle="modal" data-target="#largeModal"><h5 class="text-center">Lorem ipsum dolor</h5></a>
            <p class="work-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit sed ipsum semper tristique. </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 work-wthree">
            <div class="grid">
                <figure class="effect-moses">
                    <img src="images/work-img2.jpg" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Car Hub</h4>
                        <p>Click It</p>
                        <a href="images/work-img2.jpg" class="thumbnail" title="Car-Hub">View more</a>
                    </figcaption>
                </figure>
            </div>
            <a href="#" class="work-agile" data-toggle="modal" data-target="#largeModal"><h5 class="text-center">adipiscing elit</h5></a>
            <p class="work-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit sed ipsum semper tristique. </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 work-wthree">
            <div class="grid">
                <figure class="effect-moses">
                    <img src="images/work-img3.jpg" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Car Hub</h4>
                        <p>Click It</p>
                        <a href="images/work-img3.jpg" class="thumbnail" title="Car-Hub">View more</a>
                    </figcaption>
                </figure>
            </div>
            <a href="#" class="work-agile" data-toggle="modal" data-target="#largeModal"><h5 class="text-center">semper tristique</h5></a>
            <p class="work-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit sed ipsum semper tristique. </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 work-wthree">
            <div class="grid">
                <figure class="effect-moses">
                    <img src="images/work-img4.jpg" alt="" class="img-responsive"/>
                    <figcaption>
                        <h4>Car Hub</h4>
                        <p>Click It</p>
                        <a href="images/work-img4.jpg" class="thumbnail" title="Car-Hub">View more</a>
                    </figcaption>
                </figure>
            </div>
            <a href="#" class="work-agile" data-toggle="modal" data-target="#largeModal"><h5 class="text-center">Nam urna orci</h5></a>
            <p class="work-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit sed ipsum semper tristique. </p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Car-Hub</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6 col-md-6">
                        <img src="images/pop-img.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis semper felis, id suscipit arcu venenatis nec. Etiam non ligula ac massa bibendum molestie. Nam sit amet augue nulla. </p>
                        <p>Quisque pulvinar consectetur erat non ornare. Nulla facilisi. Phasellus condimentum turpis vel elit mollis tempus. Nulla at luctus ante. Nullam et nulla interdum, blandit quam et, vehicula nibh.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /works section -->