<br>
<br>
<br>
<h1>This is Add Category</h1>

<form id="adminAddCategoryForm" action="/adminAddCategory" method="post">
    Select Parent category:
    <select id="optionsCategoryList">
        <option value="-1" selected="selected">Root</option>
        {{# each categories}}
            <option value="{{this._id}}">{{this.categoryName}}</option>
        {{/each}}
    </select>
    <input type="hidden" name="parentCategoryId" id="parentCategoryId">
    <input type="hidden" name="parentCategoryName" id="parentCategoryName">
    <input type="text" name="categoryName" id="categoryName" value="">
    <button onclick="submitCreateCategory()">Add Category</button>
</form>

<script>
    function submitCreateCategory() {
        var categoryOption = document.getElementById("optionsCategoryList");
        var categoryId = categoryOption.options[categoryOption.selectedIndex].value;
        var categoryName = categoryOption.options[categoryOption.selectedIndex].innerHTML;

        console.log('Name: ' + categoryName);
        console.log('Id: ' + categoryId);

        document.getElementById("parentCategoryId").setAttribute('value', categoryId);
        document.getElementById("parentCategoryName").setAttribute('value', categoryName);

        document.getElementById("adminAddCategoryForm").submit();
    }
</script>
