<br><br>
<br><br>
<br><br>
<h1>
    categories goes here
    <br><br>
</h1>
<br><br>
<br><br>
<br><br>
<div class="">
    {{#each categoriesLocal}}
        <h2>{{ this }}</h2>
    {{/each}}
</div>


<h1 class='text-center'>Category Information</h1>

<div class="container">
    <table class="table table-condensed table-striped">
        <tr>
            <th>Category Name</th>
            <th>Created Date And Info</th>
            <th>Modified Date And Info</th>
            <th>Child Categories</th>
            <th>Parent Category</th>
        </tr>
        {{#each categories }}
            <tr>
                <td>{{ this.categoryName }}  {{this._id}}</td>
                <td>{{ this.categoryCreatedDate }} (Name of Admin)</td>
                <td>{{ this.categoryModifiedDate }} (Name of Admin)</td>
                <td>{{ this.childCategories }}</td>
                <td>{{ this.parentCategoryId }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Product
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <button type="button" class="btn btn-primary" onclick="displayUpdateCategoryBlockModal('{{this._id}}', '{{ this.categoryName }}', '{{ this.parentCategoryId }}')">
                                Modify
                            </button>
                            <button type="button" class="btn btn-primary btn-danger" onclick='location.href="/adminDeleteCategory/{{ this._id }}"'>
                                Delete
                            </button>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>


<!-- modificationForm Modal -->
<div id="categoryModificationModalBlock" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span onclick="vanishUpdateCategoryBlockModal()" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Update Shop Service</h1>
        </div>
        <div class="w3-container">
            <div class='login-block' style="width: 800px;">
                <form id="categoryUpdateForm" action="/adminUpdateCategory" method="post">
                    <input class='' type="hidden" id="formCategoryId" name="categoryId" value="" placeholder="Id" />
                    <input class='' type="text" id="formCategoryName" name="categoryName" value="" placeholder="Name" />

                    <input class='' type="text" id="parentCategoryId" name="parentCategoryId" value="" placeholder="Parent Id" />
                    <input class='' type="text" id="parentCategoryName" name="parentCategoryName" value="" placeholder="Parent Name" />

                    <select id="optionsCategoryList">
                        <option value="-1" selected="selected">Root</option>
                        {{# each categories}}
                            <option value="{{this._id}}">{{this.categoryName}}</option>
                        {{/each}}
                    </select>
                    <button type="button" onclick="submitUpdateCategoryModalForm()">Update Service </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function displayUpdateCategoryBlockModal(categoryId, categoryName, parentId) {
        console.log("Modifying category id: " + categoryId);
        console.log("Modifying category name: " + categoryName);
        console.log("parent category id: " + parentId);

        document.getElementById("formCategoryId").setAttribute("value", categoryId);
        document.getElementById("formCategoryName").setAttribute("value", categoryName);

        document.getElementById('categoryModificationModalBlock').style.display='block';
    }

    function vanishUpdateCategoryBlockModal() {
        document.getElementById('categoryModificationModalBlock').style.display='none';
    }

    function submitUpdateCategoryModalForm() {

        var categoryOption = document.getElementById("optionsCategoryList");
        var categoryId = categoryOption.options[categoryOption.selectedIndex].value;
        var categoryName = categoryOption.options[categoryOption.selectedIndex].innerHTML;

        document.getElementById("parentCategoryId").setAttribute('value', categoryId);
        document.getElementById("parentCategoryName").setAttribute('value', categoryName);

        document.getElementById("categoryUpdateForm").submit();
    }
</script>