<div class='login-block' style="width: 800px;">
    <h1 class='text-center' >New Product Information</h1>
    <form id="productUploadForm" action="/uploadProduct" method="post" enctype="multipart/form-data">
        <input class='' type="text" name="productName" value="" placeholder="Name" />
        <input class='' type="text" name="productPrice" value="" placeholder="Price" />
        select category:
        <select id="optionsCategoryListProductUpload">
            <option value="-1" selected="selected">Root</option>
            {{# each categories}}
                <option value="{{this._id}}">{{this.categoryName}}</option>
            {{/each}}
        </select>
        <br>
        <input class='' type="hidden" name="productCategory" id="productCategory" value="" placeholder="Category" />
        <input class='' type="text" name="productShortInformation" value="" placeholder="Short Information" />
        <input class='' type="text" name="productFullInformation" value="" placeholder="Full Information" />
        <input class='' type="text" name="productStock" value="" placeholder="Stock" />

        <input type="file" name="image" id="image" class='form-control'>

        <button type="button" onclick="myFunction()">Add Product </button>
    </form>
</div>


<script>
    function myFunction() {
        var categoryOption = document.getElementById("optionsCategoryListProductUpload");
        var categoryId = categoryOption.options[categoryOption.selectedIndex].value;
        console.log('Category Id : ' + categoryId);
        document.getElementById("productCategory").setAttribute('value', categoryId);
        document.getElementById("productUploadForm").submit();
    }
</script>