<!-- First Grid: Logo & About -->
<div class="w3-content" style="max-width:1300px">
    <div class="w3-row">
        <div class="w3-half w3-black w3-container w3-center" style="height:700px">
            <div class="w3-padding-64">
                <h1>Administrator Home</h1>
            </div>
            <div class="w3-padding-64">
                <a href="/administrator" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Home</a>
                <a href="/productsList" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Manipulate Product</a>
                <a href="/adminServiceList" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Manipulate Service</a>
                <a href="/adminFeedback/displayFeedbackList" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Manipulate Service</a>
            </div>
        </div>
        <div class="w3-half w3-blue-grey w3-container" style="height:700px">
            <div class="w3-padding-64 w3-center">
                <h2>Resume</h2>
                <p>A draft from my CV</p>
                <div class="w3-container w3-responsive">
                    <table class="w3-table">
                        <tr>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Where</th>
                        </tr>
                        <tr class="w3-white">
                            <td>2012-2016</td>
                            <td>The rest is history..</td>
                            <td>Lorem ipsum</td>
                        </tr>
                        <tr>
                            <td>2009-2012</td>
                            <td>Started my own company</td>
                            <td>My Garage</td>
                        </tr>
                        <tr class="w3-white">
                            <td>2008-2009</td>
                            <td>Started working for Lorem</td>
                            <td>London, UK</td>
                        </tr>
                        <tr>
                            <td>2005-2008</td>
                            <td>Degree in Bachelor of Design</td>
                            <td>Harvard, USA</td>
                        </tr>
                        <tr class="w3-white">
                            <td>2002-2005</td>
                            <td>Degree in Bachelor of Business</td>
                            <td>RMIT University, Melbourne, Australia</td>
                        </tr>
                        <tr class="w3-hide-medium">
                            <td>2002-2005</td>
                            <td>Degree in Bachelor of Business</td>
                            <td>RMIT University, Melbourne, Australia</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>