<div class='login-block' style="width: 800px;">
    <h1 class='text-center' >New Service</h1>
    <form id="newServiceForm" action="/adminAddService" method="post" enctype="multipart/form-data">
        <input class='' type="text" name="serviceName" value="" placeholder="Name" />
        <input class='' type="text" name="serviceSlogan" value="" placeholder="Slogan" />
        <input class='' type="text" name="serviceShortInformation" value="" placeholder="Short Information" />
        <input class='' type="text" name="serviceFullInformation" value="" placeholder="Full Information" />

        <input type="file" name="image" id="image" class='form-control'>

        <button type="button" onclick="submitAddService()">Add Service </button>
    </form>
</div>


<script>
    function submitAddService() {
        document.getElementById("newServiceForm").submit();
    }
</script>