<br>
<br>
<br>

<h1 class='text-center'>Service Information</h1>

<div class="container">
    <table class="table table-condensed table-striped">
        <tr>
            <th>Service Name</th>
            <th>Service Slogan</th>
            <th>Manage</th>
        </tr>
        {{#each products }}
            <tr>
                <td>{{ this.serviceName }}</td>
                <td>{{ this.serviceSlogan }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Product
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <button type="button" class="btn btn-primary" onclick="displayUpdateServiceBlockModal('{{ this._id }}', '{{ this.serviceName }}', '{{ this.serviceSlogan }}', '{{ this.serviceShortInformation }}', '{{ this.serviceFullInformation }}', '{{ this.serviceImagePath }}')">
                                Modify
                            </button>
                            <button type="button" class="btn btn-primary btn-danger" onclick='location.href="/adminDeleteService/{{ this._id }}"'>
                                Delete
                            </button>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>


<!-- modificationForm Modal -->
<div id="serviceModificationModalBlock" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span onclick="vanishUpdateServiceBlockModal()" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Update Shop Service</h1>
        </div>
        <div class="w3-container">
            <div class='login-block' style="width: 800px;">
                <form id="serviceUpdateForm" action="/adminUpdateService" method="post">
                    <input class='' type="hidden" id="formServiceId" name="serviceId" value="" placeholder="Id" />
                    <input class='' type="text" id="formServiceName" name="serviceName" value="" placeholder="Name" />
                    <input class='' type="text" id="formServiceSlogan" name="serviceSlogan" value="" placeholder="Slogan" />
                    <input class='' type="text" id="formServiceShortInformation" name="serviceShortInformation" value="" placeholder="Short Information" />
                    <input class='' type="text" id="formServiceFullInformation" name="serviceFullInformation" value="" placeholder="Full Information" />
                    <input class='' type="text" id="formServiceImagePath" name="serviceImagePath" value="" placeholder="Image Path" />

                    <input type="file" name="image" id="image" class='form-control'>

                    <button type="button" onclick="submitUpdateServiceModalForm()">Update Service </button>
                </form>
            </div>
        </div>
    </div>
</div>