<br>
<br>
<br>

<h1 class='text-center'>Product Information</h1>

<div class="container">
    <table class="table table-condensed table-striped">
        <tr>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Product Stocks</th>
            <th>Product Views</th>
            <th>Manage</th>
        </tr>
        {{#each products }}
            <tr>
                <td>{{ this.productName }}</td>
                <td>{{ this.productCategory }}</td>
                <td>{{ this.productPrice }}</td>
                <td>{{ this.productStock }}</td>
                <td>{{ this.productViews }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Product
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <button type="button" class="btn btn-primary" onclick="displayBlock('{{ this._id }}', '{{ this.productName }}', '{{ this.productPrice }}', '{{ this.productCategory }}', '{{ this.productShortInformation }}', '{{ this.productFullInformation }}', '{{ this.productStock }}', '{{ this.productViews }}', '{{ this.imagePath }}')">
                                Modify
                            </button>
                            <button type="button" class="btn btn-primary btn-danger" onclick='location.href="/deleteProduct/{{ this._id }}"'>
                                Delete
                            </button>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>


<!-- modificationForm Modal -->
<div id="modificationForm" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
            <span onclick="vanishBlock()" class="w3-button w3-display-topright w3-large">x</span>
            <h1>Modify Product</h1>
        </div>
        <div class="w3-container">
            <div class='login-block' style="width: 800px;">
                <form id="productUpdateForm" action="/modifyProduct" method="post">
                    <input class='' type="hidden" id="formProductId" name="productId" value="" placeholder="Id" />
                    <input class='' type="text" id="formProductName" name="productName" value="" placeholder="Name" />
                    <input class='' type="text" id="formProductPrice" name="productPrice" value="" placeholder="Price" />
                    select category:
                    <select id="optionsCategoryListUpdateProduct">
                        <option value="-1" selected="selected">Root</option>
                        {{# each categories}}
                            <option value="{{this._id}}">{{this.categoryName}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <input class='' type="text" id="formProductCategory" name="productCategory" id="productCategory" value="" placeholder="Category" />
                    <input class='' type="text" id="formProductShortInformation" name="productShortInformation" value="" placeholder="Short Information" />
                    <input class='' type="text" id="formProductFullInformation" name="productFullInformation" value="" placeholder="Full Information" />
                    <input class='' type="text" id="formProductStock" name="productStock" value="" placeholder="Stock" />
                    <input class='' type="text" id="formProductViews" name="productViews" value="" placeholder="Views" />
                    <input class='' type="text" id="formProductImagePath" name="productImagePath" value="" placeholder="Image Path" />

                    <input type="file" name="image" id="image" class='form-control'>

                    <button type="button" onclick="submitModifyModalForm()">Update Product </button>
                </form>
            </div>
        </div>
    </div>
</div>