<!-- portfolio section -->
<section class="portfolio-wthree" id="portfolio">
    <div class="container">
        <h3 class="text-center">Our Portfolio</h3>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <section class="tabs">
            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
            <label for="tab-1" class="tab-label-1">Audi</label>

            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
            <label for="tab-2" class="tab-label-2">Mercedes</label>

            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
            <label for="tab-3" class="tab-label-3">BMW</label>

            <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
            <label for="tab-4" class="tab-label-4">Rollsroyce</label>

            <div class="clear-shadow"></div>

            <div class="content">
                <div class="content-1">
                    <a href="images/port-img1.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img1.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img2.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img2.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img3.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img3.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img4.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img4.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img5.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img5.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img6.jpg" class="lightninBox" data-lb-group="1"><img src="images/port-img6.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="content-2">
                    <a href="images/port-img7.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img7.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img8.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img8.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img9.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img9.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img10.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img10.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img11.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img11.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img12.jpg" class="lightninBox" data-lb-group="2"><img src="images/port-img12.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="content-3">
                    <a href="images/port-img13.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img13.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img14.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img14.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img15.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img15.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img16.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img16.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img17.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img17.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img18.jpg" class="lightninBox" data-lb-group="3"><img src="images/port-img18.jpg" alt="" class="img-responsive"/></a>
                </div>
                <div class="content-4">
                    <a href="images/port-img19.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img19.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img20.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img20.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img21.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img21.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img22.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img22.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img23.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img23.jpg" alt="" class="img-responsive"/></a>
                    <a href="images/port-img24.jpg" class="lightninBox" data-lb-group="4"><img src="images/port-img24.jpg" alt="" class="img-responsive"/></a>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- /portfolio section -->